<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>vehicule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">phto</th>
        <th scope="col">model</th>
        <th scope="col">matricul</th>
        <th scope="col">anne sortie</th>
        <th scope="col">mis en marche</th>
        <th scope="col">nombreplace</th>
        <th scope="col">actif</th>
        <th scope="col">etat</th>
        <th scope="col">action</th>

    </tr>
    </thead>
    <tbody>
    <button class="btn btn-success">ajouter</button>
    <tr th:each="e:${vehicules}">
        <th  scope="row" th:text="${e.photo}"></th>
        <td th:text="${e.modele}"></td>
        <td th:text="${e.matricule}"></td>
        <td th:text="${e.DateSortie}"></td>
        <td th:text="${e.DateMiseEnMarche}"></td>
        <td th:text="${e.NombrePlace}"></td>
        <td th:text="${e.active}"></td>
        <td th:text="${e.etats}"></td>
        <td ><button class="btn btn-success">sup</button>
            <button class="btn btn-danger">mo</button></td>
    </tr>


    </tbody>
</table>

</body>
</html>